{% layout 'none' %}
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="refresh" content="0; url=https://grand-eye-455715-c0.uc.r.appspot.com/dashboard">
  <script>
    window.location.href = "https://grand-eye-455715-c0.uc.r.appspot.com/dashboard";
  </script>
</head>
<body>
  <p>Redirigiendo...</p>
</body>
</html>
